.sidenav{
    background-color: #1b2e21;
    color: #f4f5f5;
}

.main{
    background-color: #edf1f6;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.terms{
    width:40%;
}

.terms-content{
    background-color: #f4f5f5;
    
}
.bgcolor{
    background-color: #fffefe;
}
.form > div
{
    
}

